@tailwind base;
@tailwind components;
@tailwind utilities;

/* Configuration Globale Expert */

:root {
  /* Définit le mode sombre comme standard pour le navigateur */
  color-scheme: dark;
}

html {
  /* Indispensable pour l'effet "glissement" quand on clique sur le menu */
  scroll-behavior: smooth;
}

body {
  /* Force le fond noir et l'écriture blanche par défaut */
  background-color: #000000;
  color: #ffffff;
  
  /* Lissage des polices (Rendu HD pour les écrans Retina/4K) */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Personnalisation de la barre de défilement (Scrollbar) pour Chrome/Safari/Edge */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #0a0a0a;
}

::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #2563eb; /* Bleu Nova au survol */
}